<div class="favorites-link" id="favorite-link-<%= book.id %>">
  <% if current_user.favorites.find_by(book_id: book.id) %>
    <%= link_to unfavorite_path(book.id), method: :delete, remote: true do %>
        <div>♥︎️<%=book.favorites.count %></div>
    <% end %>
  <% else %>
    <%= link_to favorite_path(book.id), method: :post, remote: true do %>
        <div>♡️<%= book.favorites.count %></div>
    <% end %>
  <% end %>
</div>